<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akshayomkar.instavansporter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.akshayomkar.instavansporter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.akshayomkar.instavansporter.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive dataf message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".IPapplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0hZgGgRj-nJSHfzR4u5SLGRS-rZBnkn8" />

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".JobDetailsActivity"></activity>

        <receiver
            android:name="com.akshayomkar.instavansporter.AlarmReciever"
            android:enabled="true" />

        <receiver
            android:name="com.akshayomkar.instavansporter.GcmBroadcastReciever"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.schoolconnect.code" />
            </intent-filter>
        </receiver>

        <service android:name="com.akshayomkar.instavansporter.GcmIntentService" />

    </application>

</manifest>
